@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: wrap;
}
body,
main {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
iframe {
    width:800px;
    height:800px;
}
div#content-wrapper {
    position: relative;
    display: flex;
    width: 80%;
    left: 10%;
    height: 100%;
    flex-flow: wrap;
}
div#content-wrapper>div.row {
    display: inline-flex;
    width: 100%;
    padding: 15px;
    border-bottom: 3px solid #000042;
    box-shadow: 0px 1.25px 0px 0px lightgray;
    margin: 15px;
    background: #FDFDFD;
}

div#content-wrapper>div.row:last-child {
    padding-bottom: 250px;
}

form {
    padding: 0;
    margin: 0;
}

input, button {
    border-radius: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: deeppink;
    background: oldlace;
    font-size: 20px;
    letter-spacing: 2px;
    border: 0px solid transparent;
    box-shadow: 1px 2px 2px 0px deeppink;
    height: 35px;
}

input {
    height: 39px;
    margin-right: 15px;
    position: relative;
    bottom: 3.25px;
}

input:hover, button:hover {
    box-shadow: 0px 0px 0px 0px transparent;
}

div#rawlatexwrapper {
    display: flex;
    flex-wrap: wrap;
}

div#rawlatexwrapper > * {
    width: 100%;
}

button#save {
    margin-left: 25px;
}

iframe#cmdhelp {
    width: 100%;
}